#jinja2: trim_blocks:False
---
- name: Deploy service
  become: no
  hosts: all
  connection: local
  gather_facts: no
  vars:
    mongo_db: "{{ lookup('env', 'MONGO_DATABASE') }}"
    mongo_url: "{{ lookup('env', 'MONGO_URL') }}"
    mix_env: prod
  tasks:
    - block:
        - name: Create deployment dir
          file:
            path: /tmp/deployments/apperback
            state: directory
            mode: 0777
          register: install
  
        - name: Create configs
          template:
            src: "{{ item }}.j2"
            dest: "{{ install.path }}/{{ item }}"
            trim_blocks: no
          with_items:
            - apperback.yml
            - services.yml
    
        - name: Apply configs
          command: kubectl -n {{ namespace }} apply -f "{{ install.path }}/{{ item }}"
          with_items:
            - apperback.yml
            - services.yml
